<div class="" style="height:100%;">
  <div class="d-grid gap-2 col-4 mx-auto mb-2 mt-5 login">
    <!-- <div class="row mb-2 text-center" style="width: 100%; position: relative;"> -->
    <div class="row text-center" style="justify-content: center;">
      <div class="cardlogo mb-2 pl-3"><img src="../../../assets/images/zinemindLogo.png" class="img-fluid"></div>

    </div>
    <!-- </div> -->
    <div class="card">
      <div class="card-body ">
        <div class="mx-4 my-4 px-4 py-4">
          <div class="h3 title">Welcome Back</div>
          <form [formGroup]="loginForm">
            <div class="mb-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="bi bi-at"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Username" formControlName="username">
              </div>
            </div>
            <div class="mb-2">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span *ngIf="passwordViewFlag" class="input-group-text" (click)="passIconToggle()"><i
                      class="bi bi-lock"></i></span>
                  <span *ngIf="!passwordViewFlag" class="input-group-text" (click)="passIconToggle()"><i
                      class="bi bi-unlock"></i></span>

                </div>
                <input [type]="passwordViewFlag?'text':'password'" class="form-control" placeholder="Password"
                  formControlName="password">
              </div>
            </div>

            <div class="d-grid gap-2 mt-4">
              <div class="row">
                <div class="col-6" style="vertical-align:center;">
                  <small><a href="#" class="">Forgot Password?</a><br /></small>

                </div>
                <div class="col-6 text-center">
                  <button class="btn btn-md btn-primary" style="padding-right:35%;padding-left:35%;"
                    (click)="login()">Login</button>

                </div>
              </div>


            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>